:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-font-weight: 500;
  --secondary-font-weight: 700;
  --primary-line-height: 1.14;
  --secondary-line-height: 1.71;
  --primary-background-color: white;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --primary-letter-spacing: 0.03em;
  --secondary-letter-spacing: 0.06em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-text-color-theme-light);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0px;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.modal-btn {
  font-family: inherit;
  font-weight: var(--secondary-font-weight);
  font-style: normal;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: var(--secondary-letter-spacing);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  outline: 0;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-text-color-theme-dark);
}

.main-title {
  display: block;
  width: 696px;
  margin: 0px auto 30px;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--secondary-letter-spacing);
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: var(--secondary-line-height);
}

.title-description {
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  text-transform: uppercase;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0.5);
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-btn:hover .icon-close, .modal-close-btn:focus .icon-close {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__details {
  display: inline-block;
  text-align: center;
  margin: 0 auto 12px;
  width: 448px;
  height: 23px;
  font-weight: var(--secondary-font-weight);
  font-size: 20px;
  line-height: 1.15;
}

.contact-form-field {
  display: block;
}

.contact-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__content {
  width: 22px;
  height: 14px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-theme-light);
}

.contact-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.contact-form__input:focus + .contact-form__input-icon {
  outline: none;
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.contact-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color-theme-light);
}
.contact-form__checkbox-label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-image: url("../img/icon check.svg");
  background-size: cover;
  background-color: var(--accent-color);
}
.contact-form__checkbox:focus + .contact-form__checkbox-label::before {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__terms {
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
.contact-form__terms:focus {
  outline: 0;
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo_theme_wight {
  color: var(--primary-text-color-theme-light);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -34px;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link:hover::after, .nav-list__link:hover::after, .nav-list__link:focus::after, .nav-list__link:focus::after {
  opacity: 1;
}

.current {
  color: var(--accent-color);
}
.current::after {
  opacity: 1;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__link {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  align-items: center;
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}
.contacts-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.envelope {
  margin-right: 10px;
  min-width: 16px;
  fill: var(--secondary-text-color-theme-light);
}
.smartphone {
  margin-right: 10px;
  min-width: 10px;
  fill: var(--secondary-text-color-theme-light);
}
.contacts-list__link:hover .envelope, .contacts-list__link:focus .envelope, .contacts-list__link:hover .smartphone, .contacts-list__link:focus .smartphone {
  fill: var(--accent-color);
}
.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px;
  margin: 0px auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg.jpg);
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__modal-btn {
  display: inline-block;
  text-align: center;
  min-width: 216px;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list__item {
  width: 270px;
}
.features-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.features-list__item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.features__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}

.features__title-description {
  margin-bottom: 10px;
}

.features__description {
  line-height: var(--secondary-line-height);
  color: var(--secondary-text-color-theme-light);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.work-list__item {
  flex-basis: calc((100% - 90px) / 3);
}
.work-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.lable {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.lable__title-description {
  color: var(--primary-text-color-theme-dark);
}

.team {
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  background-color: var(--tertiary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list__item {
  min-width: 270px;
  text-align: center;
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-list__item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.team-members__name {
  margin-bottom: 10px;
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
}

.team-members__position {
  margin-bottom: 16px;
  font-weight: normal;
  color: var(--secondary-text-color-theme-light);
}

.team-members {
  padding: 30px 0;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-list__item {
  box-sizing: border-box;
  text-align: center;
  flex-basis: calc((100% - 180px) / 6);
  min-width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
}
.clients-list__item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.clients-list__item:not(:nth-last-child(-n+6)) {
  margin-bottom: 30px;
}
.clients-list__item:hover, .clients-list__item:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo_theme_dark {
  color: var(--primary-text-color-theme-dark);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
  color: var(--primary-text-color-theme-dark);
}

.address-list__link {
  font-size: var(--primary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--secondary-text-color-theme-dark);
}

.wrapper {
  display: block;
  margin-right: auto;
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__associate {
  margin-bottom: 20px;
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.social-list__item-associate {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-list__icon-networks {
  fill: var(--primary-text-color-theme-dark);
}

.wrapper-subscription {
  display: block;
  align-items: center;
  min-width: 570px;
  min-height: 86px;
}

.subscription {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.footer__contact-form-field {
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.footer__contact-form {
  display: flex;
  align-items: center;
}

.contact-form__input-subscription {
  display: block;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.contact-form-input-footer::placeholder {
  width: 47px;
  height: 20px;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  border-width: 0;
}

.icon-sent {
  padding: 0;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */