.features-list {
  display: block;
}
.features-list__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
 background-repeat: no-repeat;
  background-position: center;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}
.features__title-description {
  margin-bottom: 10px;
  text-align: center;
}
.features__description {
  line-height: var(--secondary-line-height);
  color: var(--secondary-text-color-theme-light);
}

/* tablet  */

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list__item {
    width: 354px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    .features__title-description {
      text-align: start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 0;
  }
  
  .features-list__item {
    width: 270px;

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
  
  .features__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--tertiary-background-color);
    border-radius: 4px;
  }
  
  .features__title-description {
    margin-bottom: 10px;
  }
  
  .features__description {
    line-height: var(--secondary-line-height);
  
    color: var(--secondary-text-color-theme-light);
  }
}
