.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 0px;
  margin: 0px auto;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
  url(../hero/mobile.jpg);
  background-size: cover;
  background-color: #c4c4c4;
}

@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/mobile2x.jpg);
  }
}


@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/hero/tablet.jpg);
  }
  @media screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
      url(../img/hero/tablet2x.jpg);
    }
  }
}
    
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/hero/desktop.jpg);
  }
  @media screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
      url(../img/hero/desktop2x.jpg);
    }
  }
}
.hero__modal-btn {
  display: inline-block;
  text-align: center;
  min-width: 152px;
  padding: 9px 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @media screen and (min-width: 1200px) {
    padding: 9px 31px;
  }
}
