.hero {
  width: 100%;
  height: auto;
  padding: 118px 0px;
  margin: 0px auto;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/mobile.jpg);
  background-size: cover;
  background-color: #c4c4c4;
}
@media (min-devise-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/mobile@2x.jpg);
  }
}

.hero__modal-btn {
  display: inline-block;
  text-align: center;
  min-width: 152px;
  padding: 9px 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero {
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/hero/tablet.jpg);
  }
  @media screen and (min-devise-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
      url(../img/hero/tablet@2x.jpg);
    }
  }
}
    
@media screen and (min-width: 1200px) {
  .hero {
    
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/hero/desktop.jpg);
  }
  @media screen and (min-devise-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
      url(../img/hero/desktop@2x.jpg);
    }
  }  
  .hero__modal-btn { 
    padding: 9px 31px;
  }
}

  

