@media screen and (max-width: 767px) {
.team {
  margin: 0 auto;
  min-width: 480px;
  height: 2761px;

  background-color: var(--tertiary-background-color);
}
.team-list {
  display: block;
  text-align: center;
}

.team-list__item {
  min-width: 480px;
  text-align: center;

  background-color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }  
}
.team-list__img {
  margin: 0 auto;
}
.team-members {
  display: block;
  padding: 30px 0;
}
.team-members__name {
  text-align: center;
  margin-bottom: 10px;
  
  font-size: var(--secondary-font-size);
  line-height: 1.19;
}
.team-members__position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.19;

  color: var(--secondary-text-color-theme-light);
}
}
@media screen and (min-width: 768px) {
  .team {
    margin: 0 auto;
    min-width: 768px;
    height: 1285px;

    background-color: var(--tertiary-background-color);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    
  }
  .team-list__item {
    min-width: 354px;
    text-align: center;
    flex-basis: calc((100% - 60px) / 2);
  
    background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }    
  }  
  .team-members {
    display: block;
    padding: 30px 0;
  }
  .team-members__name {
    text-align: center;
    margin-bottom: 10px;
    
    font-size: var(--secondary-font-size);
    line-height: 1.19;
  }
  .team-members__position {
    margin-bottom: 16px;
  
    font-weight: 400;
    font-size: var(--secondary-font-size);
    line-height: 1.19;
  
    color: var(--secondary-text-color-theme-light);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
    line-height: 1.19;
    
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list__item {
    min-width: 270px;
    text-align: center;
    flex-basis: calc((100% - (4 * 30px)) / 4);
  
    background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
  .team-members {
    padding: 30px 0;
  }
  .team-members__name {
    margin-bottom: 10px;
  
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
  }
  .team-members__position {
    margin-bottom: 16px;
  
    font-weight: normal;
  
    color: var(--secondary-text-color-theme-light);
  }
}
/*
.team {
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
    line-height: 1.19;
    background-color: var(--tertiary-background-color);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list__item {
    min-width: 270px;
    text-align: center;
    flex-basis: calc((100% - (4 * 30px)) / 4);
  
    background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
  .team-members {
    padding: 30px 0;
  }
  .team-members__name {
    margin-bottom: 10px;
  
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
  }
  .team-members__position {
    margin-bottom: 16px;
  
    font-weight: normal;
  
    color: var(--secondary-text-color-theme-light);
  }
  */
  
  