
.team {
  margin: 0 auto;
  width: 100%;
  height: auto;

  background-color: var(--tertiary-background-color);
  background-size: cover;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list__item {
  text-align: center;

  background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-members {
  padding: 30px 0;
}
.team-members__name {
  text-align: center;
  margin-bottom: 10px;
  
  font-size: var(--secondary-font-size);
  line-height: 1.19;
}
.team-members__position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.19;

  color: var(--secondary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
  .team-list {
    display: block;
    text-align: center;
  }
  .team-list__item {
  
    &:not(:last-child) {
      margin-bottom: 30px;
    }  
  }
  .social-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    width: 354px;
    
    flex-basis: calc((100% - 30px) / 2);
  
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }    
  }  
}

@media screen and (min-width: 1200px) {
  .team {
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
    line-height: 1.19;
    
  }
  .team-list__item {
    margin-bottom: 0;
    width: 270px;
    
    flex-basis: calc((100% - (3 * 30px)) / 4);
  
    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }
  .team-members__name {
    font-weight: var(--primary-font-weight);
    font-size: var(--secondary-font-size);
  }
  .team-members__position {
    margin-bottom: 16px;
    font-weight: normal;
  }
}
