body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: var(--primary-letter-spacing);
    color: var(--primary-text-color-theme-light);
    background-color: var(--primary-background-color);
  }
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    margin: 0px;
  }
  .address {
    font-style: normal;
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }