:root {
    --accent-color: #2196f3;
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color-theme-dark: #ffffff;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --primary-font-weight: 500;
    --secondary-font-weight: 700;
    --primary-line-height: 1.14;
    --secondary-line-height: 1.71;
    --primary-background-color: white;
    --secondary-background-color: #2f303a;
    --tertiary-background-color: #f5f4fa;
    --primary-font-size: 14px;
    --secondary-font-size: 16px;
    --primary-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.06em;
  }